@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color variables for theming */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Adjust color variables for dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 39, 39, 39;
  }
}

/* Set default body styles */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(104,24,70);
  background: linear-gradient(111deg, rgba(104,24,70,1) 1%, rgba(11,0,26,1) 34%, rgba(61,1,80,1) 100%);
}

/* Define custom text utility class */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles for active and inactive buttons */
.button.active {
  box-shadow:  inset 2px 2px 5px #292b1c, inset -5px -2px 10px #636948;
  background-color: #636948;
}

.button.inactive {
  box-shadow: 0px 0px 20px 4px #636948;   
}

/* Floating animation for logo */
.logo{
  animation-name: floating !important;
  animation-duration: 3s !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: ease-in-out !important;
  padding: 50px;
  margin-top: 75px;
  margin-bottom: 75px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

/* Adds 6rem (96px) of padding to the bottom of an element to create additional space and improve overall layout view*/
.Bottompaddin {
  padding-bottom: 6rem;
}
